<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: "Employee And Work Order Management" %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body>
    <%= render "partials/layouts/nav" %>
    <main class="md:mx-[100px]  mx-0 container mt-8 px-5 flex ">
      <%= yield %>
    </main>
    <%= render "partials/layouts/footer" %>
  </body>
</html>
